{% extends 'base.html' %}
{% load static %}

{% block title %}Automação - Novo{% endblock %}


{% block body %}
<div class="pagetitle">
  <h1>Automação</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Automação</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro</h5>
          <!-- Vertical Form -->
          <form class="row g-3" method="post" action="{% url 'AutomationSaveAction' %}">
            {% csrf_token %}
            <div class="col-lg-12">
              <label for="company_id" class="form-label">Empresa/Cliente</label>
              <select id="company_id" class="form-select" required name="company_id">
                {% for c in companies %}
                <option value="{{ c.id }}">{{ c.nome_fantasia | capfirst }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-6">
              <label for="inputNanme4" class="form-label">Tipo</label>
              <select id="inputNanme4" class="form-select" required name="name">
                <option value="slocker">Slock</option>
                <option value="light">Luz</option>
                <option value="gate">Portão</option>
                <option value="door">Porta</option>
              </select>
            </div>
            <div class="col-lg-6">
              <label for="inputAddress" class="form-label">Nome Curto</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Short name" required name="short_name">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme5" class="form-label">IP</label>
              <input type="text" class="form-control" id="inputNanme5" placeholder="IP: xxx.xxx.xxx.xxx" name="ip">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme6" class="form-label">Subnet</label>
              <input type="text" class="form-control" id="inputNanme6" placeholder="Subnet: xxx.xxx.xxx.xxx" name="subnet">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme7" class="form-label">Gateway</label>
              <input type="text" class="form-control" id="inputNanme7" placeholder="Gateway: xxx.xxx.xxx.xxx" name="gateway">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme9" class="form-label">Mac</label>
              <input type="text" class="form-control" id="inputNanme9" placeholder="MAC: CA:FE:CO:FF:EE:EE" required name="mac">
            </div>
            <div class="col-lg-6">
              <label for="inputNanme8" class="form-label">Local Instalação</label>
              <select id="inputNanme8" class="form-select" required name="name">
                <option value="0">Garagem</option>
                <option value="1">Hall de Entrada</option>
                <option value="2">Hall de Saída</option>
                <option value="3">Salão de Festa</option>
                <option value="4">Outros</option>
              </select>
            </div>
             <div class="col-lg-6">
              <label for="description" class="form-label">Descrição</label>
              <textarea id="description" class="form-control" placeholder="Descrição" name="description"></textarea>
            </div>
            <div class="col-lg-12 d-flex justify-content-end">
              <div class="col-lg-11 col-xs-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-secondary">Limpar</button>
              </div>
              <div class="col-lg-1 col-xs-12">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" name="status" value="1">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Ativo</label>
                </div>
              </div>
            </div>
          </form><!-- Vertical Form -->

        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}